$main-dark-color: #333;
$main-light-color: #f2f2f2;

$dark-grey-color: #8e8d8c;
$light-grey-color: #bdbdbd;
$placeholder-text-color: #828282;

$page-background-color: #e4dfd3;

$light-green-color: #8c9772;
$dark-green-color: #344f10;
